{% load wagtailimages_tags %}{% load wagtailcore_tags %}
<!-- features carousel block -->

<div class="jumbotron generic-page-block-{{ block.block_type }}">
  <div class="{{ settings.wagboot.WebsiteSettings.container_class|default:"container" }} features-block-container">
    <div class="row feature-block-overview">
      {% for feature in block.value %}
        <div class="col-md-4 col-xs-6 feature-block feature-block-more-activate" data-panel="{{ forloop.counter0 }}">
          {% image feature.image width-100 class="feature-block-image hidden-xs hidden-sm" %}
          {% image feature.image width-60 class="feature-block-image hidden-md hidden-lg" %}
          <h2 class="feature-block-header">{{ feature.header }}</h2>
          <p class="feature-block-short-text">{{ feature.short_text }}</p>
          <span class="feature-block-more">Read more</span>
        </div>
      {% endfor %}
    </div>
    {% for feature in block.value %}
      <div class="row feature-block-panel feature-block-panel-{{ forloop.counter0 }}" style="display: none">
        <div class="col-md-2 feature-block-back">
          {% image feature.image width-100 class="feature-block-image hidden-xs hidden-sm" %}
          {% image feature.image width-60 class="feature-block-image hidden-md hidden-lg" %}
          <div class="feature-block-back-activate">&Larr; <span>Overview</span></div>
        </div>
        <div class="col-md-10">
          <h2 class="feature-block-header">{{ feature.header }}</h2>
          {% for line in feature.long_text.splitlines %}
            <p class="feature-block-long-text">{{ line }}</p>
          {% endfor %}
          <div class="row feature-block-others">
            {% for subfeature in block.value  %}
              <div class="col-sm-6 col-xs-12 feature-block-more-activate feature-block-small-more feature-block-small-more-{{ forloop.counter0 }}"
                   data-panel="{{ forloop.counter0 }}">{% image subfeature.image width-40 class="feature-block-image-small" %}
                {{ subfeature.header }}</div>

            {% endfor %}
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
