{% load wagtailcore_tags %}{% load wagboot_tags %}
{% comment %}

Extend this form in your templates:

{% extends "wagboot/blocks/form_with_legend.html" %}

{% block submit_text %}Signup{% endblock %}
{% block form_fields %}<input..>{% endblock %}

{% endcomment %}

<div class="row form-{{ value.block.name }}">
  <div class="col-sm-6">
    <form method="post">
      {% csrf_token %}
      {% block form_fields %}
        {% for field in form %}
          {% if field.is_hidden %}
            {{ field }}
          {% else %}
            <div class="form-group">
              <label for="{{ field.id_for_label }}" class="control-label">{{ field.label }}:</label>
              {{ field|add_class_to_field:"form-control" }}
              {{ field.errors }}
            </div>
          {% endif %}
        {% endfor %}
      {% endblock %}
      <div class="form-group">
        {{ form.non_field_errors }}
        <button type="submit" class="btn btn-primary">{% block submit_text %}{{ submit_text|default:"Submit" }}{% endblock %}</button>
      </div>
    </form>
  </div>
  <div class="col-sm-6">
    {{ value.legend|richtext }}
  </div>
</div>

