{% load wagtailcore_tags %}{% load wagboot_tags %}{% load crispy_forms_tags %}
{% comment %}

Extend this form in your templates:

{% extends "wagboot/blocks/form_with_legend.html" %}

{% block form %}To replace the whole form{% endblock %}

{% endcomment %}

{% block form_whole %}
<div class="row form-{{ value.block.name }}">
  <div class="col-sm-6">
    {% block form %}
    {% crispy form %}
    {% endblock %}
  </div>
  <div class="col-sm-6">
    {{ value.legend|richtext }}
  </div>
</div>

{% endblock %}
