{% load wagtailcore_tags %}{% load wagboot_tags %}{% load crispy_forms_tags %}
{% comment %}

Extend this form in your templates:

{% extends "wagboot/blocks/form_with_legend.html" %}

and use blocks:

{% block form %}To replace only the form{% endblock %}
{% block form_whole %}To replace the whole block, including the legend{% endblock %}

{% endcomment %}

{% block form_whole %}
<div class="{{ settings.wagboot.WebsiteSettings.container_class|default:'container' }}">
<div class="row form-{{ value.block.name }}">
  <div class="col-sm-6">
    {% block form %}
    {% crispy form %}
    {% endblock %}
  </div>
  <div class="col-sm-6">
    {{ value.legend|richtext }}
  </div>
</div>
</div>

{% endblock %}
