{% load wagtailimages_tags %}{% load wagtailcore_tags %}
<!-- image text -->
<div class="{{ settings.wagboot.WebsiteSettings.container_class|default:" container" }}">
<div class="row generic-page-block generic-page-block-{{ block.block_type }}">
  <div class="col-xs-12 col-sm-6">
    {% image block.value.image width-450 style="display:block;margin-left:auto;margin-right:auto" class="hidden-sm hidden-xs" %}
    {% image block.value.image width-400 style="display:block;margin-left:auto;margin-right:auto" class="visible-sm-block" %}
    {% image block.value.image width-344 style="display:block;margin-left:auto;margin-right:auto" class="visible-xs-block" %}
  </div>
  <div class="col-xs-12 col-sm-6">{{ block.value.text|richtext }}</div>
</div>
</div>


