<div class="logout-block">
  <form method="post" id="logout-form">
    {% csrf_token %}
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <input type="hidden" name="{{ prefix }}-logout" value="yes">
        {% if self.confirm_logout %}
          <button type="submit" class="btn btn-default">Sign Out</button>
        {% else %}
          <p>Logging out...</p>
          <script type="application/javascript">
            setTimeout(function () {
              document.getElementById('logout-form').submit();
            }, 100);
          </script>
        {% endif %}
      </div>
    </div>
  </form>
</div>
