{% extends "wagboot/blocks/form_with_legend.html" %}

{% comment %}

Shows password reset forms.

Three stages:
1) First load - shows email input.
2) If email is entered and email is sent - does not show form, shows message.
3) Load from reset link - shows password form and adds token and uid fields.

In context has these fields:
  - uid64: encoded user pk
  - token: random token
  - valid_link: boolean to show that reset link is valid (uid, token)
  - sent_reset_link: boolean to show that we have sent the email with reset link

{% endcomment %}


{% block submit_text %}
  {% if valid_link %}
    Change Password
  {% else %}
    Reset Password
  {% endif %}
{% endblock %}
{% block form_extra %}
  {% if valid_link %}
    <input type="hidden" name="{{ uid_name }}" value="{{ uid64 }}">
    <input type="hidden" name="{{ token_name }}" value="{{ token }}">
  {% endif %}
{% endblock %}

{% block form_submit %}
  {% if not sent_reset_link %}
    {{ block.super }}
  {% endif %}
{% endblock %}

{% block form_whole %}
  {% if sent_reset_link %}
    <p>Check your email for password reset instructions.</p>
  {% else %}
  {{ block.super }}
  {% endif %}
{% endblock %}

