{% extends "wagboot/blocks/form_with_legend.html" %}

{% comment %}

Shows password reset forms.

Three stages:
1) First load - shows email input.
2) If email is entered and email is sent - does not show form, shows message.
3) Load from reset link - shows password form and adds token and uid fields.

In context has these fields:
  - valid_link: boolean to show that reset link is valid (uid, token)
  - sent_reset_link: boolean to show that we have sent the email with reset link

{% endcomment %}


{% block form_whole %}
  {% if sent_reset_link %}
  <div class="{{ settings.wagboot.WebsiteSettings.container_class|default:'container' }}">
    <p>Password reset email has been sent.</p>
  </div>
  {% else %}
    {{ block.super }}
  {% endif %}
{% endblock %}

